@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Hind+Madurai&family=Lato:wght@300&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@300&family=Padauk&family=Playfair+Display&family=Roboto&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&family=Titillium+Web:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    font-family: 'Hind Madurai', sans-serif;
    background-color: lightgoldenrodyellow;
}

.container {
    height: 1000px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color: #000;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.logo {
    width: 127px;
    height: 64px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-left-side {
    flex-basis: 40%;
    display: flex;
    padding: 10px;
}


.nav-right-side button {
    padding: 10px 22px;
    border-radius: 12px;
    outline: none;
    border: 1px solid teal;
    background: #1f2e7a;
    color: #fff;

}

.nav-right-side a {
    border-left: 1px solid #ddd;
    padding: 10px 22px;
    
}


.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
    gap: 30px;
}

.login-box {
    background-color: #F5F4EF;
    width: 40vw;
    height: 60vh;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.input input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}

.forgot-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.forgot-section button {
    padding: 0 24px;
    border: 1px solid teal;
    border-radius: 6px;
    background-color: #3c4faf;
    color: #F5F4EF;
    outline: none;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 60px;
    cursor: pointer;
}

.forgot-section a {
    padding: 0 0 2px;
    margin-left: 6px;
    color: #000;
}
.gray-line {
    border: 1px solid red;
    margin: 0 20px 0 20px;
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.register a {
 color: #000;
}
.register a:hover {
    color: #3c4faf;
    text-decoration: underline;
}
/* Log in section */

.footer {
    background: #383e42;
    height: 20%;
    display: flex;
    flex-direction: column;
}
.up-list {
    padding: 20px;
    display: flex;
    font-weight: bold;
    color: white;
}
.up-list span {
    padding-right: 20px;
}
.down-list {
    display: flex;
    padding: 20px;
    color: #b6b6b6;
}
.down-list  span {
     padding-right: 20px;
}
.footer p {
    color:#b6b6b6;
    padding: 20px;
}